html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #69bdd2;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

h1,
h3,
.categ-title,
.back,
p {
  color: white;
}

.col-meal {
  border: 1px solid #98d0ec;
}

@media only screen and (max-width: 576px) {
  .img {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .img {
    width: 80%;
  }

  .meal-title {
    font-size: 18px;
  }

  .back {
    font-size: 20px;
  }
}
